@import "./dark.min.css";

body {
  font-family: Monaco;
}

:root {
  --background: black;
  --background-body: black;
  --background-alt: black;
}

.green {
  color: green;
}

.red {
  color: red;
}
